body {

  background-color:aqua;
  color:blueviolet
}

.NavBar {

  display: flex; justify-content: center;
  background-color: rgb(45, 192, 94);
  color: rgb(206, 26, 26);
  height: 90px;
  width: 100%;
  font-size:xx-large;
  font-style: italic;

}

.Link {
  margin: 20px;
  color: black;
  text-decoration: none;
  
  }