* {
  box-sizing: border-box;
}

body {

  background-color:#89c6bf;
  position: relative;
}

/* .logo{
  height: 10%;
  width: 10%;
} */
.icons {
  display: flex; justify-content: space-evenly;
  padding-top: 5%;
  position:fixed;
  bottom: 0.5em;
}

.mr-4 {

  height: 50%;
}

.Navbar {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cc8696;
  color: rgb(206, 26, 26);
  height: 10%;
  width: 100%;
  font-size:xx-large;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: fixed;
  z-index: 1100;

}

.Homepage {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.Link {
  margin: 20px;
  color: whitesmoke;
  text-decoration: none;
  
  
  }

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  flex-direction: column;
 
}

.comment {

  width: 60%;
  height: 60%;
}

.formAudio {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.7rem;
  flex-direction: column;
  height: 200px;
  width: 100%;
}

.form-page {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  flex-direction: column;

}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-content: center;
}

.pics {
  display:flex; 
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  padding: 10px;
  background-color: #cc8696;

}

h1 {
  display: block;
  text-align: center;
  font-size: 25px;
}

.topics {
  display:flex; 
  justify-content: center;
  align-items: center;
}

.Audio{
  display: flex; 
  justify-content: space-evenly;
  margin: 2em;

}

.card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  
}

.card-body{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 50%;
  margin: 10px;
  margin-top: 5%;

}


.card-name {
  font-size: 3rem;
  margin: 1rem

}

.images {

  padding-bottom: 1.3rem;
 
}

.card-description{
  background-color: white;
  border-style:solid;
  border-width: thick ;
  border-color: blueviolet;
  font-size: large;
  width: 560px;
  text-align: center;
  
  
  
}

.card-button {
  background-color: white;
  border: 2px solid blueviolet;
  padding: 5px;
  display: flex;
  font-size: 20px;
  margin: 1px 5px 1px 30px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: underline;
  border-radius: 10px;
}

#neon {
  position: relative;
  padding: 10px 10px;
  margin: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.5s;
}
#neon:hover {
  background: #cc8696;
  color: #111;
  box-shadow: 0 0 50px blueviolet;
}
#neon:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgb(255, 5, 226);
  border-left: 2px solid rgb(255, 5, 226); 
  transition: 0.5s;
}
#neon:hover:before {
  width: 100%;
  height: 100%;
}
#neon:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid rgb(255, 5, 226);
  border-right: 2px solid rgb(255, 5, 226); 
  transition: 0.5s;
}
#neon:hover:after {
  width: 100%;
  height: 100%;
}

